[submodule "output"]
	path = output
	url = https://github.com/brodoll/brodoll.github.io
[submodule "_site"]
	path = public
	url = https://github.com/brodoll/brodoll.github.io.git
[submodule "hemingway2"]
	path = themes/hemingway2
	url = https://github.com/brodoll/hemingway2.git
[submodule "brodoll.github.io"]
	path = public
	url = https://github.com/brodoll/brodoll.github.io.git
